img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "游ゴシック体", YuGothic;
  color:#333333;
  width: 1280px;
  height: 3230px;
}

.container {
  width: 1080px;
  margin-left:auto;
  margin-right:auto;
}

.mv {
  margin-top:30px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.mv-img {
  height: 33px;
}

.recruit {
font-size:18px;
background-color: #FFE000;
height:48px;
width:151px;
background: #FFE000;
box-shadow: 3px 3px 10px #00000029;
border-radius: 24px;
border-style:none;
}

.company-about {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.company-about-title {
  height: 448px;
}

.heading-txt-01 {
  font-size: 36px;
  font-weight: bold;
}

.heading-txt-02 {
  font-size: 16px;
  margin-top: 34px;
  font-weight: lighter;
  line-height: 1.6;
}

.mv-img-header {
width: 560px;
height: 448px;
}

footer {
  background-color: #333;
  padding: 15px;
  text-align: center;
}

footer small {
  color:  #fff;
  font-size: 14px;
}

@media screen and (max-width:768px) {

}