img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "游ゴシック体", YuGothic;
  color:#333333;
}


.container {
  max-width: 1080px;
  margin-left:auto;
  margin-right:auto;
}

button {
  max-width: 100%;
  height: auto;
font-size:18px;
height:48px;
box-shadow: 3px 3px 10px #00000029;
border-radius: 24px;
border-style:none;
}

a {
  max-width: 100%;
    height: auto;
  text-decoration: none;
}

a:visited {
  color:#333333;
}

time {
  font-weight: bold;
}

.heading h2 {
  font-size: 36px;
  margin-top: 120px;
  margin-bottom: 109px;
	color: #444;
  font-size: 36px;
  font-weight: bold;
	display: flex;
  align-items: center;
  line-height: 3;
}

#news { 
  margin-bottom: 101px;
}

#about { 
  margin-bottom: 100px;
}

.heading h2:before, .heading h2:after {
	content: "";
	flex-grow: 1;
	height: 4px;
	background: #109954;
  display: block;
}

.heading h2:before {
  margin-right: 40px;
  margin-left: 20%;
}

.heading h2:after {
  margin-left: 40px;
  margin-right: 20%;
}

.mv {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mv-img {
  height: 33px;
}

.br-big:after {
  content: "\A" ;
  white-space: pre ;
}

.br-small {
  display: none;
}

.recruit {
background: #FFE000;
}

.company-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.heading-txt-01 {
  font-size: 36px;
  font-weight: bold;
}

.heading-txt-02 {
  font-size: 16px;
  margin-top: 34px;
  margin-bottom: 40px;
  font-weight: lighter;
  line-height: 1.6;
}

.company-about_title {
  width: 50%;
  height: 448px;
}

.company-about_image {
  width: 50%;
  height: 448px;
  display: flex;
  align-items: center;
  }

.about-button {
  width: 560px;
}

.contact {
  width:166px;
  background: #109954;
  color:white;
}

.document {
  width:222.95px;
  border: medium solid #109954;
  background: white;
  color:#109954;
  font-weight: bold;
  margin-left: 10px;
}

.service-box-wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:0 140px;
}

.service-box {
  width: 30%;
  text-align: center;
}

.service-box p{
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.service-box img{
  height:200px;
}

.about-inner {
  max-width: 940px;
  margin-bottom:15px;
  margin-left: auto;
  margin-right: auto;
}

.about-box-wrapper-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more {
  margin-top: 44px;
  width: 166px;
  background-color: #109954;
  color:white;
}

.about-box-text p {
  line-height: 1.5;
}

.about-box-photo figure {
  width: 450px;
  height: 278px;
  box-shadow: 0px 11px 20px #00000029;
}

.about-box-wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.about-box-wrapper-2 h3{
  color: #109954;
  font-size: 32px;
  font-weight: bold;
}

.about-box-wrapper-2 p{
  margin-top: 30px;
}

.about-box-wrapper-2 button{
  margin-top: 30px;
}

.news-inner {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.news-box-wrapper {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top : solid 1px #D6D6D6;
  height: 205px;
}

.news-box-wrapper a{
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.news-box-wrapper:last-child {
  border-bottom : solid 1px #D6D6D6;
}

.time-category {
  display: flex;
  align-items: center;
  width:232px;
  justify-content: space-between;
}

.news-box-photo figure {
  height: 168px;
  width: 300px;
}

.category {
  font-weight: bold;
  font-size: 14px;
  height:26px;
  width:101px;
  border: 2px solid #109954;
  background: white;
  color:#109954;
  box-shadow: none;
  border-radius: 14px;
}

.news-box-text h2{
  margin-top: 20px;
  font-weight: bold;
}

.news-box-text p{
  margin-top: 20px;
  line-height: 1.5;
}

.bottom-more {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

footer {
  background-color: #E8E8E8;
  height: 135px;
}

.footer-logo-sitemap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.footer-img {
  height: 70px;
  width: 70px;
}

.sitemap-list {
  height: 20px;
}

ul {
  display: flex;
}

li:before {
  content: "";
  margin-right: 18px;
}

li {
  font-size: 14px;
  list-style-type: none;
  color: #000;
  flex-grow: 1;
  text-align: center;
  margin-left: 18px;
}


li + li {
  border-left: 1px solid #000;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}

.footer-copyright small{
  color:#333333;
  font-size: 14px;
}

@media screen and (max-width:767px) {
  .mv {
    margin-top: 11px;
  }
  body {
    font-family: "游ゴシック体", YuGothic;
    color:#333333;
  }
  .container {
    max-width:345px;
    margin-left:auto;
    margin-right:auto;
  }
  .company-about {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
  }
  .mv-img-header {
    width: 345px;
    height: 276px;
  }
  .company-about_title {
    display: flex;
    text-align:center;
    flex-direction: column;
  }
  .heading-txt-01 {
    margin-left:auto;
    margin-right:auto;
    font-size: 28px;
    line-height: 1.6;
    height: 76px;
    width: 196px;
  }
  .heading-txt-02 {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .br-small {
    display: inline;
  }
  .br-big {
    display: none;
  }
  
  .br-small:after {
    content: "\A" ;
    white-space: pre ;
  }
  .document {
    border: 2px solid #109954;
    margin-top: 15px;
    margin-left: 0px;
  }
  .heading h2 {
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .heading h2:before {
    margin-right: 18px;
    margin-left: 0%;
  }
  .heading h2:after {
    margin-left: 18px;
    margin-right: 0%;
  }
  .service-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
  }
  .service-box {
    height: 250px;
    width: 200px;
    margin-bottom: 50px;
  }
  .service-box:last-child {
    margin-bottom: 0px;
  }
  .service-box p{
    font-size: 20px;
    white-space: nowrap
  }
  .about-inner{
    display: flex;
    flex-direction: column;
  }
  .about-box-wrapper-1{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .about-box-wrapper-2{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 70px;
  }
  .about-box-wrapper-3{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .about-box-photo figure {
    width: 344.78px;
    height: 213px;
    box-shadow: 0px 11px 20px #00000029;
  }
  .about-box-text p {
    text-align: left;
    margin-top: 50px;
    font-size: 0;
  }
  .about-box-text p span{
    font-size: 16px;
  }
  .about-box-text p br {
    display: none;
  }
  .about-box-text h3 {
    text-align: left;
    margin-top: 50px;
  }
  .news-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .news-box-wrapper{
    flex-direction: column;
    align-items: center;
    height: 416px;
    margin-bottom: 18px;
  }
  .news-box-photo {
    height: 168px;
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .news-box-text {
    text-align: left;
  }
  .news-box-wrapper:last-child {
    padding-bottom: 20px;
  }
  footer {
    min-width: 375px;
    position: relative;
    height: 289px;
  }
  .footer-logo-sitemap {
    flex-direction: column;
  }
  .sitemap-list {
    height: 0px;
  }
  .footer-copyright {
    position: absolute;
    bottom:20px;
    left: 0;
    right: 0;
    margin: auto;
    margin-left:auto;
    margin-right:auto;
  }
  .footer-list {
    flex-direction: column-reverse;
    margin-bottom: 40px;
    margin-top: 11px;
  }
  .footer-list ul {
    text-align: center;
    margin-bottom: 40px;
  }
  .footer-list li {
    margin-top: 12px;
    margin-left: 0px;
  }
  li:before {
    display:none;
  }
  li + li {
    border-left: 0px solid #000;
  }
}