img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "游ゴシック体", YuGothic;
  color:#333333;
}

button {
font-size:18px;
height:48px;
width:151px;
box-shadow: 3px 3px 10px #00000029;
border-radius: 24px;
border-style:none;
}

a {
  text-decoration: none;
}

time {
  font-weight: bold;
}
.heading h2 {
  font-size: 36px;
  margin-top: 120px;
  margin-bottom: 109px;
	color: #444;
  font-size: 24px;
  font-weight: bold;
	display: flex;
  align-items: center;
}

.heading h2:before, .heading h2:after {
	content: "";
	flex-grow: 1;
	height: 4px;
	background: #109954;
  display: block;
}

.heading h2:before {
  margin-right: 40px;
  margin-left: 20%;
}

.heading h2:after {
  margin-left: 40px;
  margin-right: 20%;
}

.container {
  width: 1080px;
  margin-left:auto;
  margin-right:auto;
}

.mv {
  margin-top:30px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.mv-img {
  height: 33px;
}

.recruit {
background: #FFE000;
}

.company-about {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.company-about-title {
  height: 448px;
}

.heading-txt-01 {
  font-size: 36px;
  font-weight: bold;
}

.heading-txt-02 {
  font-size: 16px;
  margin-top: 34px;
  margin-bottom: 40px;
  font-weight: lighter;
  line-height: 1.6;
}

.mv-img-header {
width: 560px;
height: 448px;
}

.contact {
  background: #109954;
  color:white;
}

.document {
  width:222.95px;
  border: medium solid #109954;
  background: white;
  color:#109954;
}

.service-box-wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-box {
  width: 30%;
  text-align: center;
}

.service-box p{
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}

.about-inner {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.about-box-wrapper-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more {
  margin-top: 44px;
  background-color: #109954;
  color:white;
}

.about-box-text p {
  line-height: 1.5;
}

.about-box-photo figure {
  width: 450px;
  height: 278px;
  box-shadow: 0px 11px 20px #00000029;
}

.about-box-wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.about-box-wrapper-2 h3{
  color: #109954;
  font-size: 32px;
  font-weight: bold;
}

.about-box-wrapper-2 p{
  margin-top: 30px;
}

.about-box-wrapper-2 button{
  margin-top: 30px;
}

.news-inner {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.news-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top : solid 1px #D6D6D6;
  height: 205px;
}

.news-box-wrapper:last-child {
  border-bottom : solid 1px #D6D6D6;
}

.time-category {
  display: flex;
  align-items: center;
}

.news-box-photo figure {
  height: 168px;
  width: 300px;
}

.category {
  margin-left: 24px;
  font-weight: bold;
  font-size: 14px;
  height:26px;
  width:101px;
  border: 2px solid #109954;
  background: white;
  color:#109954;
  box-shadow: none;
  border-radius: 14px;
}

.news-box-text h2{
  margin-top: 20px;
  font-weight: bold;
}

.news-box-text p{
  margin-top: 20px;
}

.bottom-more {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

footer {
  background-color: #E8E8E8;
  height: 135px;
}

.footer-logo-sitemap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.footer-img {
  height: 70px;
  width: 70px;
}

.sitemap-list {
  height: 20px;
}

ul {
  display: flex;
}

li:before {
  content: "";
  margin-right: 18px;
}

li {
  font-size: 14px;
  list-style-type: none;
  color: #000;
  flex-grow: 1;
  text-align: center;
  margin-left: 18px;
}


li + li {
  border-left: 1px solid #000;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}

.footer-copyright small{
  color:#333333;
  font-size: 14px;
}

@media screen and (max-width:768px) {
  .mv {
    margin-top: 21px;
  }
  .container {
    width: 345px;
    margin-left:auto;
    margin-right:auto;
  }
  .company-about {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 10px;
  }
  .mv-img-header {
    width: 345px;
    height: 276px;
  }
  .company-about_title {
    text-align:center;
  }
  .heading-txt-01 {
    margin-left:auto;
    margin-right:auto;
    font-size: 28px;
    line-height: 1.6;
    height: 76px;
    width: 196px;
  }
  .heading-txt-02 {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .br-small:after {
    content: "\A" ;
    white-space: pre ;
  }
  .document {
    margin-top: 15px;
  }
}